/*navbar styles*/

section{

	// min-height: 800px;
	padding-top: 70px;
	width: 100%;
}



/*intro section style*/




.wrapper{
		display: flex;
		align-items: stretch;
		width: 100%;


	#side-bar{

			width: 250px;
    		position: fixed;
    		top: 0;
    		right: 0;
    		height: 100vh;
    		z-index: 999;
    		background: #17252A;
    		transition: all 0.3s;

    		h1{

    			font-size: 2rem;
    			color: #FEFFFF;
    			text-align: center;
    			background-color: #2B7A78;
    			padding: 20px 10px 20px 10px;
    			margin-bottom:0;


    		}

    		#pages {

    			background-color: #3AAFA9;
    			padding-top:20px;
    			padding-bottom:20px;


    			a:focus{

					color:#17252A;

    			}

    		}



    		li{
				
				padding: 10px;
				text-align: center;

				a{

					font-size: 1rem;
					color: #FEFFFF;

				}

				a:hover{

					text-decoration: none;
					color:#17252A;

    				}

    			


    		}

    		#social{

    			li{


    				a{

						margin-left:1rem;
						font-size: 1.5rem;


    				}

    				a:hover{

					text-decoration: none;
					color:#3AAFA9;

    				}



    				
    			}

    		}






    		&.hide{

    			margin-right: -250px;
    		}

		}

	
	#content{

		width: calc(100% - 250px);
    	min-height: 100vh;
    	transition: all 0.3s;
    	position: absolute;
    	top: 0;
    	left: 0;

    	.black-nav{

    		background-color: #17252A;

    		.navbar-brand{

    			color:#FEFFFF;
    		}
    		#sidebar-toggler {
				
				background-color: #17252A;
				transition: all 0s;

				span{
					background-color: #FEFFFF;

				}

    		}

    	}

    	nav{
    		height: 50px;
    		position: fixed;
    		width: calc(100% - 250px);
    		transition: all 0.3s;
    		z-index: 999;
    		padding-top: 0;
    		padding-bottom: 0;

    		&.hide{

    		width: 100%;
    		}



    	

    		.navbar-brand{
				
				font-size: 2rem;
				font-family: 'Zilla Slab', serif;;



    		}

    	}

    	

    	&.hide{

    		width: 100%;
    	}


    	#sidebar-toggler {
    		width: 40px;
    		height: 40px;
    		background-color: #FEFFFF;
    		box-shadow: none;
    		border: none;
    		cursor: pointer;

			span {
   				 width: 80%;
    			height: 2px;
    			margin: 0 auto;
    			display: block;
    			background-color: #17252A;
    			transition: all 0.10s cubic-bezier(0.810, -0.330, 0.345, 1.375);
   				transition-delay: 0.2s;
			}

			span:first-of-type {
    				transform: rotate(45deg) translate(2px, 2px);
			}

			span:nth-of-type(2) {
    				opacity: 0;
			}
			span:last-of-type {
    				transform: rotate(-45deg) translate(1px, -1px);
			}


			&.hide span {
    		transform: none;
    		opacity: 1;
    		margin: 5px auto;
			}
		}

			#intro{
						
					// height: calc(100vh - 80px);
					height: 100vh;
					min-height: 450px;
					padding-top: 50px;
					
	

	// background-color: #3AAFA9;


					#jumbo{
			
						background-color: transparent;
						padding-top: 8rem;


			


							h1{
								display: block;
								font-size: 3rem;
								display: block;
				 				font-family: 'Zilla Slab', serif;
				 				text-align: center;
								color: #17252A;
								margin-bottom: 3rem;

										span{
					
											color:#3AAFA9;
											}
							}

							.intro-button{
								display: block;		
								background-color: none;
								font-family: 'Montserrat', sans-serif;
								color: #3AAFA9;
								background-color: #FEFFFF;
								margin: auto;
								box-shadow: #3AAFA9;
								border: 1px solid #3AAFA9;
								width: 150px;
							}

							.intro-button:hover{
								background-color: #3AAFA9;;
								color: #FEFFFF;
								transition: all 0.5s;

							}

					}

			}

			#aboutMe{

				background-color: #3AAFA9;
				height: 300px;
				padding-right: 200px;
				padding-left: 200px;
					
				

				.about-text{

					h1{

						color: #FEFFFF;
					}
					
					

				}




			}


		.triangle-down{

					width: 0;
					height: 0;
					border-top: 20px solid #17252A;
					border-left: 100px solid transparent;
					border-right: 400px solid transparent;
					margin: 0;


				}
		.triangle-up{

					width: 0;
					height: 0;
					border-bottom:  20px solid #3AAFA9;
					border-left: 400px solid transparent;
					border-right: 100px solid transparent;
					margin: 0;
					right: 0;
					// position: absolute;
					// margin-bottom:10px;
					margin-left:auto;


				}


		#skills{
			margin-bottom:20px;

			.skills{
					max-width: 600px;
					display: flex;
					flex-wrap:wrap;
					justify-content: center;
					// background-color: #3AAFA9;
					margin: auto;
					cursor: pointer;

				.skill{
					height: 125px;
					width: 125px;
					box-shadow: 1px 1px 1px 1px #3AAFA9;
					margin: 10px;

				}
			}


		}

		#projects{
				

				.projects-container{

					// background-color: #3AAFA9;


					.project{
						margin: auto;
						margin-bottom: 30px;
						max-width:1200px;
						box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
					

					.project-img{
						text-align: center;
						padding-top: 10px;
						padding-left: 30px;
						padding-right: 30px;

						h2{

							margin-bottom: 20px;
							font-family: 'Montserrat', sans-serif;
						}

						img{
							display: block;
							height: 250px;
							width: 250px;
							margin-left: auto;
							margin-right:auto;
							background-color: green;
						}

						a{

							border: 1px solid #3AAFA9; 
						}

						
					}
					.project-content{
						padding-top: 10px;
						font-family: 'Montserrat', sans-serif;


					}

				}

				

			}

		}

		footer{

			min-height: 200px;
			background-color: #17252A;
			text-align: center;



			

			li{
				display: block;

				a{

					margin: 10px;
					font-size:2rem;
				}


			}


		}

	.button{
		
				border: 1px solid #3AAFA9;
				margin-top: 10px;
				padding: 10px;
				margin-bottom:20px;
				color:#3AAFA9;
				display: inline-block;

			}
	.button:hover{

					text-decoration: none;
					background-color: #3AAFA9;
					color:#FEFFFF;
					transition: all 0.3s;
				}
	.title{

						margin-bottom: 30px;
						text-align: center;
						
						font-family: 'Montserrat', sans-serif;
	}


		}
}




